*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-page{
    position: relative;
    height:auto; 
    /* height:950px; */
    width:100%;
}
.main-page img{
    width:100%;
    filter: brightness(50%);
    height:550px;
    position: absolute;
}
.navbar{
    position: absolute;
    width:100%;
    background-color: transparent !important;
}
.welcome-info-intro{
    position: relative;
    top:360px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    /* padding-bottom:100px; */
    /* border:1px solid  red; */
 }

 @media(min-width:320px){
  
     .desktop-buttons{
        display: none;
    }
    .main-page{
        height:550px;
        /* border:1px solid green; */
    }
 }
 