*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-page{
    position: relative;
    height:auto; 
    width:100%;
}
.main-page img{
    width:100%;
    filter: brightness(50%);
    height:400px;
    position: absolute;
}
.navbar{
    position: absolute;
    width:100%;
    background-color: transparent !important;
}
.welcome-info-intro{
   position: relative;
/*    top:360px; */
   color:white;
   font-family: 'Montserrat', sans-serif;
}
